---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h2> Peer-Reviewed Conference Publications </h2>
<ul>
  <li> P1 </li>
  <li> P2 </li>
</ul>

<h2> Theses </h2>
<ul>
  <li> Master's Thesis: <a href = "https://uwspace.uwaterloo.ca/handle/10012/12700"> Securing Cloud Computations with Oblivious Primitives from Intel SGX </a>. UWSpace: Master's Thesis, University of Waterloo, Waterloo, ON, Canada. (December 2017) </li>
</ul>



{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
