---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h2> Peer-Reviewed Journal Publications </h2>
<ul>

  <li> <a href = "https://eprint.iacr.org/2023/313"> SoK: Metadata-Protecting Communications Systems </a> <br>
        <b>Sajin Sasy</b> and Ian Goldberg <br>
        (To appear at) Proceedings on Privacy Enhancing Technologies (PoPETs), 2024 </li> <! Issue 1>

  <li> <a href = "https://ojs.aaai.org/index.php/AAAI/article/view/20749"> The Role of Adaptive Optimizers for Honest Private Hyperparameter Selection. </a> <br>
        Shubhankar Mohapatra, <b>Sajin Sasy</b>, Xi He, Gautam Kamath, and Om Thakkar <br>
        Proceedings of the AAAI Conference on Artificial Intelligence, 2022 <br>
        [<a href = "https://github.com/mshubhankar/The-Role-of-Adaptive-Optimizers-for-Honest-Private-Hyperparameter-Selection">Code</a>]&#160&#160&#160
        [<a href = "https://cs.uwaterloo.ca/~s3mohapa/posters/ROAOHPHS.pdf">Poster</a>]&#160&#160&#160
        [<a href = "https://cs.uwaterloo.ca/~s3mohapa/slides/ROAOHPHS.pdf">Slides</a>] <br>
        (Poster and Slides by Shubhankar)
  </li>

  <li> <a href = "https://cypherpunks.ca/~iang/pubs/consensgx-popets19.pdf"> ConsenSGX: Scaling Anonymous Communications Networks with Trusted Execution Environments. </a> <br>
        <b>Sajin Sasy</b> and Ian Goldberg <br>
        Proceedings on Privacy Enhancing Technologies (PoPETs), 2019. <br> <! Issue 3>
        [<a href = "https://github.com/sshsshy/ConsenSGX">Code</a>]&#160&#160&#160
        [<a href="https://cs.uwaterloo.ca/~ssasy/resources/ConsenSGX/ConsenSGX_slides.pdf">Slides</a>]&#160&#160&#160
        [<a href = "https://cs.uwaterloo.ca/~ssasy/resources/ConsenSGX/ConsenSGX_open_slides.odp">Slides (Editable)</a>]
  </li>
</ul>

<h2> Peer-Reviewed Conference Publications </h2>
<ul>

  <li> <a href = "https://eprint.iacr.org/2023/1236"> WaksOn-WaksOff: Fast Oblivious Offline/Online Shuffling and Sorting with Waksman Networks </a> <br>
        <b>Sajin Sasy</b>, Aaron Johnson, and Ian Goldberg <br>
        ACM Conference on Computer and Communications Security (CCS), 2023. <br>
        [<a href = "https://crysp.uwaterloo.ca/software/obliv/#wakson">Code</a>]
  </li>

  <li> <a href = "https://eprint.iacr.org/2022/1333"> Fast Fully Oblivious Compaction and Shuffling </a> <br>
        <b>Sajin Sasy</b>, Aaron Johnson, and Ian Goldberg <br>
        ACM Conference on Computer and Communications Security (CCS), 2022 .<br>
        [<a href = https://crysp.uwaterloo.ca/software/obliv/#oblivshuffle">Code</a>]&#160&#160&#160
        [<a href="https://cs.uwaterloo.ca/~ssasy/resources/FFOCNS/FFOCNS_CCS_talk.pdf">Slides</a>]&#160&#160&#160
        [<a href = "https://cs.uwaterloo.ca/~ssasy/resources/FFOCNS/FFOCNS_CCS_open_talk.odp">Slides (Editable)</a>]
        </li>

  <li> <a href = "https://cypherpunks.ca/~iang/pubs/piros-acns22.pdf"> Improving the Privacy of Tor Onion Services </a> <br>
        Edward Eaton, <b>Sajin Sasy</b>, and Ian Goldberg <br>
        International Conference on Applied Cryptography and Network Security (ACNS). 2022 
        [<a href = "https://crysp.uwaterloo.ca/software/piros/">Code</a>]
  </li>

  <li>  <a href = "https://papers.nips.cc/paper/2019/file/73231e53eeef362c814c8522f5257286-Paper.pdf"> Oblivious Sampling Algorithms for Private Data Analysis </a> <br>
        <b>Sajin Sasy</b> and Olya Ohrimenko <br>
        Advances in Neural Information Processing Systems (NeurIPS), 2019. <br>
        Theory and Practice of Differential Privacy (TPDP), 2020. <br>
        [<a href = "https://cs.uwaterloo.ca/~ssasy/resources/OSA/OSA_poster.pdf">Poster</a>]
  </li>

  <li> <a href = "https://www.ndss-symposium.org/wp-content/uploads/2018/02/ndss2018_02B-4_Sasy_paper.pdf"> ZeroTrace: Oblivious Memory Primitives from Intel SGX. </a> <br>
        <b>Sajin Sasy</b>, Sergey Gorbunov, Christopher W. Fletcher <br>
        Network and Distributed System Security Symposium (NDSS). 2018. </li>

  <li> <a href = "https://ieeexplore.ieee.org/document/8172365"> A Wizard-of-Oz Study of Curiosity in Human-Robot Interaction </a>. <br>
    Edith Law, Vicky Cai, Qi Feng Liu, <b>Sajin Sasy</b>, Joslin Goh, Alex Blidaru, Dana Kulić <br>
    IEEE International Symposium on Robot and Human Interactive Communication (RO-MAN). 2017. </li>
</ul>

<h2> Manuscripts </h2>
<ul>
  <li> <a href = "https://cs.uwaterloo.ca/~ssasy/sese.pdf"> Searchable Encryption from Secure Enclaves </a>. <br>
  <b> Sajin Sasy </b> and Sergey Gorbunov. 2018 </li>
</ul>


<h2> Theses </h2>
<ul>
  <li> <a href = "https://uwspace.uwaterloo.ca/handle/10012/12700"> Securing Cloud Computations with Oblivious Primitives from Intel SGX </a>. <br>
UWSpace: Master's Thesis, University of Waterloo, Waterloo, ON, Canada. (December 2017) </li>
</ul>



{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
